.place__conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.place__border,
.place__input_room {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: #000000;
    -webkit-box-shadow: 3px 4px 32px -14px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 3px 4px 32px -14px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 3px 4px 32px -14px rgba(34, 60, 80, 0.2) inset;
}

.place__input_room {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

.place__input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.place__input .input-group {
    flex-wrap: nowrap;
}

.place__input input[type="text"] {
    width: 100%;
}

.user_len {
    right: 10px;
    bottom: 10px;
}

.user_len .alert{
    margin-bottom: 0px;
}

.place__messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.place__message_typing {
    bottom: 0;
    transition: 1s;
}

.place__message {
    margin: 1em;
}

.place__item_message {
    border-radius: 5px;
    padding: 5px;
}

.item_my {
    background: rgb(144, 255, 152);
    text-align: right;
}

.item_0 {
    background: rgb(247, 93, 34);
}

.item_1 {
    background: rgb(128, 10, 115);
    color: #fff;
}

.item_2 {
    background: rgb(136, 147, 37);
}

.item_3 {
    background: rgb(110, 2, 253);
}

.item_4 {
    background: rgb(52, 101, 130);
}

.item_5 {
    background: rgb(208, 126, 84);
}

.item_6 {
    background: rgb(237, 111, 254);
}

.item_7 {
    background: rgb(37, 4, 207);
}

.item_8 {
    background: rgb(37, 4, 207);
}

.item_9 {
    background: rgb(37, 4, 207);
}

.room__row {
    background: #B5E4EE;
    border-radius: 5px;
}

.button_back_select_room {
    /*position: absolute;*/
    top: 10px;
    left: 10px;
}

.nav {
    border-bottom: 1px solid #f2f2f2;
}